@import "compass/css3";

$gulp-red: #ec4a4b;

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
	font-family: 'Helvetica', Arial, Sans-Serif;
	color: rgb(80,80,80);
}

.entity {
	float: left;
}

.margin {
	margin-left: 70px;
}

.start-page {
	@extend .entity;
	margin-top: 50px;
}

.branding {
	@extend .entity;
	@extend .margin;
	text-align: center;

	p {
		font-size: 15px;
		color: rgb(80,80,80);
		line-height: 1.4;
		padding-top: 15px;

		a {
			display: block;
			color: $gulp-red;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.dependencies {
	@extend .entity;
	@extend .margin;

	li {
		padding: 8px;

			&:last-child {
				padding-bottom: 0;
			}

		a {
			color: rgb(80,80,80);
			text-decoration: none;

			&:hover {
				color: $gulp-red;
				text-decoration: underline;
			}
		}
	}
}

.get-started {
	@extend .entity;
	@extend .margin;
	width: 600px;

	h1 {
		font-size: 32px;
		padding-bottom: 15px;
	}

	p {
		line-height: 1.4;
	}

	ul {
		margin-top: 18px;
		list-style-type: decimal;

		li {
			padding: 12px 0;
			
			h2 {
				font-weight: 700;

				span {
					background: rgb(245,245,245);
					padding: 6px;
					border: 1px solid rgb(230,230,230);
					border-radius: 5px;
					display: block;
					margin: 10px 0;
				}
			}

			p {
				padding-top: 8px;

				strong {
					font-weight: 700;
					color: $gulp-red;
				}

				code {
					font-family: 'Courier';
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
				}
			}

		}
	}
}