<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title>Gulper</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="assets/styles/main.css" />
</head>
<body>
	
	<div id="container">
		<img src="assets/images/gulp.png" width="114" height="257" alt="Gulp" />
		<p>Gulper v0.0.7</p>
		<p><a href="#">Github</a></p>
	</div>

	<!-- 
		all scripts under /scripts are automagically concatinated into: 
			<script src="assets/scripts/main.js"></script> && <script src="assets/scripts/main.min.js"></script>
		** [ editable in gulpfile.js ] **	
	 -->

	 <script src="assets/scripts/main.js"></script>

</body>
</html>