<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title><%= projectName %></title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="assets/styles/main.css" />
	<% if (includeModernizr) { %><script src="bower_components/modernizr/modernizr.js"></script><% } %>
</head>
<body>
	
	<div id="container">
		<img src="assets/images/gulp.png" width="114" height="257" alt="Gulp" />
		<p>Gulper v<%= projectVersion %></p>
		<p><a href="https://github.com/leaky/generator-gulper">Github</a></p>
	</div>

	<% if (includejQuery) { %><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><% } %>

	<!-- // all scripts under /scripts are automagically concatinated into: -->
	<script src="assets/scripts/main.js"></script>
	<!-- // end concat -->

</body>
</html>